<form id="bundle-form">
  <div>
    {% for product in collections.all.products %}
      {% if product.tags contains "Group 1" %}

      {% endif %}
    {% endfor %}
  </div>
</form>

{% schema %}
  {
    "name": "Bundle Builder",
    "settings": [],
    "presets": [
      {
        "name": "Bundle Builder"
      }
    ]
  }
{% endschema %}