
<div>
  <img src="/imagen.png"> </img>
  <span>Nombre del cliente</span>
  <span>Estrellas: 5</span>
  <p>Review comenteario</p>
</div>
{% schema %}
  {
    "name": "Review",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "comentario",
        "label": "Comentario",
        "info" : "Comentario info"
      }
    ],
    "max_blocks": 5,
    "blocks": [
       {
         "name": "Slide",
         "type": "slide",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
    ],
    "presets": [
      {
        "name": "Review",
        "blocks": [
          {
          "type": "slide"
          },
        {
          "type": "slide"
        }
        ]
      }
    ]
  }
{% endschema %}