<div>
  
  <span>Nombre del cliente</span>
  <span>Estrellas: 5</span>
  <p>Review comenteario</p>
</div>
{% schema %}
  {
    "name": "Review",
    "settings": [],
    "presets": [
      {
        "name": "Review"
      }
    ]
  }
{% endschema %}