<div>
  <img src="/imagen.png"> </img>
  <span>Nombre del cliente</span>
  <span>Estrellas: 5</span>
  <p>Review comenteario</p>
</div>
{% schema %}
  {
    "name": "Review",
    "settings": [
      {
        "type": "text",
        "id": "comentario",
        "label": "Comentario",
        "info" : "Comentario info"
      }
    ],
    "presets": [
      {
        "name": "Review"
      }
    ]
  }
{% endschema %}